body{
  text-align: center;
  color: white;
  background-color: goldenrod;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 200px;
}

.subcontainer{
  margin: 1rem;
}

.text-description{
  text=align: left;
  background-color: white;
  padding: 1rem;
  margin: 1rem 4rem 2rem 4rem;
  color: black;
  border-radius: 5px;
  opacity: 0.80;
}